@import "tailwindcss";
body 
{
  background-color: #101D2D;
}


h1 
{
  @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
  font-family: "Playfair Display", serif;
  font-weight: weight;
}
